/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    #searcher {
        display: none;
        margin: 5px auto;
        width: 300px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #main-slider-pagination {
        max-width: 720px;
    }

    .main-slider-shape-1 {
        display: none;
    }

    .main-slider__nav-two {
        display: none;
    }

    .main-slider-two h2 {
        font-size: 85px;
    }
}

/*--------------------------------------------------------------
# Main Menu All Responsice Css
/////////
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .main-menu .mobile-nav__toggler {
        margin-right: 0;
        padding: 30px 0;
        display: none;
    }

    .main-menu-two .mobile-nav__toggler:hover {
        color: var(--thm-black);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu-wrapper__logo {
        margin-top: 15px;
    }

    .main-menu-wrapper__call {
        display: none;
    }

    .main-menu .mobile-nav__toggler {
        margin-right: 0;
        padding: 33px 0;
        display: none;
    }

    .sbtn {
        display: none;
    }

    .main-menu-two .mobile-nav__toggler:hover {
        color: var(--thm-black);
    }
}

@media (max-width: 767px) {

}


@media (min-width: 371px) and (max-width: 450px) {
    .main-menu-wrapper__logo {
        position: relative;
        margin-top: 16px;
        padding-top: 8px;
        margin-left: 40px;
    }


    .main-menu-wrapper__left {
        float: none;
    }


    .sbtn {
        margin-top: 30px;
        margin-left: 20px;
        float: right;
    }

    .main-menu {
        padding: 0 30px;
    }

    .main-menu .mobile-nav__toggler {
        margin-right: 0;
        padding: 30px 0;
        display: inline-block;
    }

    .main-menu-two .mobile-nav__toggler:hover {
        color: var(--thm-black);
    }

    #searcher {
        display: none;
        margin: 0 auto;
        width: 300px;
    }

    .card {
        width: 350px;
        padding: 20px;
    }
}
